/*
Full pen description:
Arrow keys or WASD to move. Avoid the falling blocks and avoid getting trapped.
Powerups:
<-> = faster horizontal movement
up and down thing= slightly higher jumps and the ability to fall faster with the down key
two arrows pointing up = double jump
blue empty circle = shield yourself from blocks
yellow circle with +50 in it = collect to get +50 points

Strategy:
Camping is useless. Your score is based on how high you can go and much less based on how long you can survive. Try to find the highest block tower and stay there, dodging new blocks that land there.
Powerups are actually kind of useless. Don't even bother getting them unless they can be effortlessly collected. However, there are certain situations where you can use them tactically, for example:
Your jump height it 2 blocks tall. If you can't access the highest tower because it requires a 3 block jump, get a vertical movement or double jump powerup.
Don't hug the edges, even if has the highest tower. It is much easier to get trapped and if the tower is hugging the edge too, then it will most likely grow slower than a tower in the center because blocks cannot fall past the edges which decrease the change of height expansion.
Seeking "shelter" between two adjacent blocks is actually dangerous because instead of being hit by a block that falls directly above you, you will just get trapped by it.
It you are on the highest tower, jump! This gives you more "head space" (because the camera follows your highest position) so you have more time to dodge blocks. This is especially useful in the later game where warning times are shorter.
*/










/*Source: https://codepen.io/Gthibaud/pen/ryQRYP */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: arial;
  background-color: #111E;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}