html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #111e;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  user-select: none;
}
canvas {
  display: block;
}
